@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


@font-face {
  font-family: "SourGummy";
  src: url("./assets/fonts/SourGummy-VariableFont_wdth,wght.ttf") format("truetype-variations");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SourGummy";
  src: url("./assets/fonts/SourGummy-VariableFont_wdth,wght.ttf") format("truetype-variations");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SourGummy";
  src: url("./assets/fonts/SourGummy-VariableFont_wdth,wght.ttf") format("truetype-variations");
  font-weight: 800;
  font-style: normal;
}





/* Rest of your existing CSS */

